<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="tm-row">
  <div class="tm-col-left"></div>
  <main class="tm-col-right tm-contact-main" style="background-color: #13131561; margin-top: 3rem">
    <!-- Content -->
    <section class="tm-content tm-contact" style="padding: 1rem;">
      <h3 class="mb-4 tm-content-title" style="font-size: 2rem;width:max-content">"A journey of a thousand miles  begins with a <br> &nbsp;
        single step"</h3>

        <h4 class="mb-4 tm-content-title" style="font-size: 1rem;"> <span style="font-weight: bold; font-size:2rem">Sarthi</span> - A one step Ticket Booking App
         .It is one of the best IRCTC train booking sites online. Increase your chance of train ticket availability. IRCTC train enquiry and booking which is backed by a unique and efficient algorithm which predicts
          your IRCTC PNR in seconds based on historical trends.It also assists you in deciding whether to book train tickets or not if the train is on the waitlist. We help you in making your IRCTC train ticket booking experience a pleasure. Get confirm IRCTC railway tickets on ConfirmTkt. Confirmtkt 
          is a one-stop online destination to get confirmed train tickets for all your railway ticketing purposes. </h4>
    </section>
  </main>
</div>
